<div class="row">
  <div class="col-lg-12 px-0">

    <nb-card [nbSpinner]="loading">
      <nb-card-header>User Role List
        <a class="btn-1 mr-1 float-right" nbButton outline status="success" [size]="'tiny'" routerLink="/pages/user-roles/role-create">
          Create <i class="nb-plus"></i>
        </a>
      </nb-card-header>
      <nb-card-body>

        <div class="row align-items-end">
          <div class="col-lg col-md-6 mb-3">
            <label>ID</label>
            <input type="text" nbInput fullWidth placeholder="" name="id" [(ngModel)]="search.id">
          </div>
          <div class="col-lg col-md-6 mb-3">
            <label>Role Name</label>
            <input type="text" nbInput fullWidth placeholder="" name="roleName" [(ngModel)]="search.role_name">
          </div>
          <div class="col-lg col-md-6 mb-3">
            <label>Role Description</label>
            <input type="text" nbInput fullWidth placeholder="" name="roleDescription" [(ngModel)]="search.role_description">
          </div>
          <div class="col-lg col-md-6 mb-3">
            <button class="btn-1 mr-1" nbButton outline status="warning" (click)="clear()"><i class="fa fa-times"></i></button>
            <button class="btn-1 mr-1" nbButton outline status="primary" (click)="getRoleList(1)"><i class="fa fa-search"></i></button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th style="width: 120px">Action</th>
              <th>ID</th>
              <th>Role Name</th>
              <th>Description</th>
            </tr>
            </thead>
            <tr *ngFor="let el of roles; let i = index">
              <td>
                <div class="buttons-row">
                  <a routerLink="/pages/user-roles/role-edit/{{el.id}}" class="btn-1 mr-1" nbButton [size]="'tiny'" [status]="'primary'"><i class="far fa-edit"></i></a>
<!--                  <button class="btn-1" nbButton [size]="'tiny'" [status]="'danger'"><i class="far fa-trash-alt"></i></button>-->
                </div>
              </td>
              <td>#{{(i + 1) * pagination.current_page}}</td>
              <td>{{el.role_name}}</td>
              <td>{{el.role_description}}</td>
            </tr>
          </table>
        </div>
        <ngb-pagination class="pull-center"
                        [(page)]="pagination.current_page"
                        [pageSize]="pagination.per_page"
                        [maxSize]="5" [boundaryLinks]="true"
                        [collectionSize]="pagination.total"
                        (pageChange)="getRoleList($event)"></ngb-pagination>
      </nb-card-body>
    </nb-card>

  </div>
</div>
